body {
    font-family: 'Roboto', sans-serif;
}

.liItem {
    text-decoration: none;
    background-color: black;
    padding: 10px 15px;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}